@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  td {
    @apply border border-black;
    @apply border border-2;
  }
}

@media print {
  @page {
    margin-top: 3cm;
  }

  @page :first {
    margin-top: 0cm;
  }
}