@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  td {
    @apply border border-black;
    @apply border border-2;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@media print {
  @page {
    margin-top: 3cm;
  }

  @page :first {
    margin-top: 0cm;
  }
}